<!DOCTYPE html>
<html>
  <head>
    <!-- import vuetify-css + font -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"  rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>

  <body>
    <div id="app">
      <v-app>
        <!-- header start -->
        <v-app-bar app color="primary" dense dark>
          <v-toolbar-title>{{webTitle}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-menu transition="scale-transition">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item v-for="n in menuList" :key="n" @click="() => {}">
                <v-list-item-title>{{ n }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-app-bar>
        <!-- header end -->
        <!-- main start -->
        <v-main>
          <v-container>
            <!-- select class start -->
            <v-row >
              <v-col cols="12" md="9">
                <v-select
                  v-model="value"
                  :items="items"
                  chips
                  label="Class"
                  :height="selectHeight"
                  deletable-chips
                  small-chips
                  multiple
                  outlined
                  clearable
                  @change="tableFilter(value)"
                ></v-select>
              </v-col>
            </v-row>
            <!-- select class end  -->
            <!-- table-card start -->
            <template>
              <v-card>
                <v-card-title>
                  <v-row>
                    <v-col cols="12" sm="6"> {{tableTitle}} </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" sm="4">
                      <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        single-line
                        hide-details
                        :placeholder="searchPlaceHolder"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-card-title>
                <v-data-table
                  :headers="headers"
                  :items="cards"
                  :search="search"
                  :items-per-page="itemsPage"
                  :footer-props="{
                    'items-per-page-text':' ',
                  }"
                >
                  <!-- click name start-->
                  <template v-slot:item.name="props">
                    <v-edit-dialog
                      :return-value.sync="props.item.name"
                      @open="open(props.item)"
                    >
                      <span class="primary--text text-decoration-underline">{{ props.item.name }}</span>
                    </v-edit-dialog>
                  </template>
                  <!-- click name end-->
                  <!-- nodata start -->
                  <template v-slot:no-data>
                    <span class="primary--text">{{noData}}</span>
                  </template>
                  <!-- nodata end -->
                </v-data-table>
              </v-card>
            </template>
            <!-- table-card end -->
            <!-- dialog-card start -->
            <template>
              <div class="text-center">
                <v-dialog v-model="dialog" :width="dialogWidth" persistent>
                  <v-card>
                    <v-btn icon @click="dialog = false" class="float-right">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-card-title>
                      <v-row>
                        <v-col cols="6" sm="4"> {{cardTitle}} </v-col>
                        </v-col>
                      </v-row>
                    </v-card-title>
                    <v-card-text> {{cardDetail}} </v-card-text>
                  </v-card>
                </v-dialog>
              </div>
            </template>
            <!-- dialog-card end -->
          </v-container>
        </v-main>
        <!-- main end -->
      </v-app>
    </div>

    <!-- import vue2 + vuetify.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="./js/vuetify.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->
    <!-- import data -->
    <script src="./js/data.js"></script>

    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),

        data: () => ({
          //header
          webTitle: "Axie Infinity Origin Cards",
          menuList: ["Cards", "Calculator"],
          //import data
          headers: in_headers,
          cards: in_cards,
          //table
          tableTitle: "Origin Cards",
          search: "",
          searchPlaceHolder: "Name, Part, Tag, Keyword",
          itemsPage: 15,
          noData: "No data available",
          //pop,
          dialogWidth: 600,
          dialog: false,
          cardTitle: "",
          cardDetail: "",
          //filter
          items: in_cardClass,
          value: in_cardClass,
          selectHeight: null,
          //window
          windowWidth: null,
        }),

        computed: {},

        watch: {
          windowWidth(value) {
            const tableChangeWidth = 600
            const selectChangeWidth = 870
            this.setTableHeader(value,tableChangeWidth)
            this.setSelectorHeight(value,selectChangeWidth)
          },
        },

        mounted() {
          this.getWindowWidth()
        },

        methods: {
          getWindowWidth() {
            this.windowWidth = window.innerWidth
            window.onresize = () => {
              this.windowWidth = window.innerWidth
            };
          },
          setSelectorHeight(now,targetWidth){
            const bigger = 75
            const smaller = 56
            this.selectHeight = (now <= targetWidth) ? bigger : smaller
          },
          setTableHeader(now,targetWidth){
            // in = import data
            this.headers = (now <= targetWidth) ? [in_headers[0]] : in_headers
          },
          tableFilter(filArr){
             // in = import data
            let array = in_cards
            let filters = {
                class: filArr
            }
            this.cards = this.multiFilter(array, filters)
          },
          open(item) {
            this.dialog = true
            this.cardDetail = item
            this.cardTitle = item.name
          },
          multiFilter(array, filters) {
            const filterKeys = Object.keys(filters)
            // filters all elements passing the criteria
            return array.filter((item) => {
              // dynamically validate all filter criteria
              return filterKeys.every(key => {
                  //ignore when the filter is empty Anne
                if(!filters[key].length) return true
                return !!~filters[key].indexOf(item[key])
              })
            })
          },
        },
      }).$mount("#app")
    </script>
  </body>
</html>
