<!DOCTYPE html>
<html>
  <head>
    <!-- import vuetify-css + font -->
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <style>
      [v-cloak] {
        display: none;
      }
      /* Scrollbar */
      ::-webkit-scrollbar {
        width: 5.5px;
      }
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 5px;
      }
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #303031;
        border-radius: 5px;
      }
      .flex-card {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .absolute-card-img {
        position: absolute;
        margin: 10px 0 0 20px;
        max-width: 180px;
      }
    </style>
  </head>

  <body>
    <!-- import vue2 + vuetify.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="./js/vuetify.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->
    <!-- import data -->
    <script src="./js/Aquatic.js"></script>
    <script src="./js/Beast.js"></script>
    <script src="./js/Bird.js"></script>
    <script src="./js/Bug.js"></script>
    <script src="./js/Plant.js"></script>
    <script src="./js/Reptile.js"></script>
    <script src="./js/data.js"></script>
    <div id="app">
      <v-app>
        <!-- header start -->
        <v-app-bar app color="primary" dense dark>
          <v-toolbar-title v-cloak>{{webTitle}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-menu transition="scale-transition">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item v-for="n in menuList" :key="n" @click="() => {}">
                <v-list-item-title v-cloak>{{ n }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-app-bar>
        <!-- header end -->
        <!-- main start -->
        <v-main class="secondary">
          <v-container>
            <!-- select class start -->
            <v-row>
              <v-col cols="12">
                <v-select
                  v-model="value"
                  :items="cardClass"
                  chips
                  label="Class"
                  :height="selectHeight"
                  deletable-chips
                  small-chips
                  multiple
                  @change="tableFilter(value)"
                  clearable
                ></v-select>
              </v-col>
            </v-row>
            <!-- select class end  -->
            <!-- table-card start -->
            <template>
              <v-card>
                <v-card-title>
                  <v-row>
                    <v-col cols="12" sm="6" v-cloak> {{tableTitle}} </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" sm="4">
                      <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        single-line
                        hide-details
                        :placeholder="searchPlaceHolder"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-card-title>
                <v-data-table
                  :headers="headers"
                  :items="cards"
                  :search="search"
                  :items-per-page="itemsPage"
                  :footer-props="{
                    'items-per-page-text':' ',
                  }"
                >
                  <!-- click name start-->
                  <template v-slot:item.name="{ item }">
                    <v-hover v-slot="{ hover }">
                      <div>
                        <v-edit-dialog @open="open(item)">
                          <pre
                            class="primary--text text-decoration-underline font-weight-bold"
                          >
{{ item.name }}</pre
                          >
                        </v-edit-dialog>
                        <img
                          class="absolute-card-img"
                          v-if="hover && tableHover"
                          :src="item.img"
                        />
                      </div>
                    </v-hover>
                  </template>
                  <template v-slot:item.part="{ item }">
                    <span class="d-none"></span>
                  </template>
                  <!-- click name end-->
                  <!-- nodata start -->
                  <template v-slot:no-data>
                    <span class="primary--text" v-cloak>{{noData}}</span>
                  </template>
                  <!-- nodata end -->
                </v-data-table>
              </v-card>
            </template>
            <!-- table-card end -->
            <!-- dialog-card start -->
            <template>
              <v-dialog v-model="dialog" :width="dialogWidth" persistent>
                <v-card :height="dialogHeight">
                  <!-- close X -->
                  <v-btn
                    icon
                    x-large
                    @click="dialog = false"
                    class="float-right"
                  >
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                  <v-card-title> {{card.title}} </v-card-title>
                  <!-- card text start -->
                  <v-card-text>
                    <v-row class="flex-card">
                      <!-- phone arrows -->
                      <v-row v-if="dialogArrow">
                        <v-btn
                          icon
                          color="primary"
                          dark
                          @click="changeCard(card,-1)"
                        >
                          <v-icon>mdi-arrow-left-drop-circle</v-icon>
                        </v-btn>
                        <!-- <v-spacer></v-spacer> -->
                        <v-btn
                          icon
                          color="primary"
                          dark
                          @click="changeCard(card,1)"
                        >
                          <v-icon>mdi-arrow-right-drop-circle</v-icon>
                        </v-btn>
                      </v-row>
                      <!-- left arrow -->
                      <v-col cols="6" sm="1" v-if="!dialogArrow">
                        <v-btn
                          icon
                          x-large
                          color="primary"
                          dark
                          @click="changeCard(card,-1)"
                        >
                          <v-icon>mdi-arrow-left-drop-circle</v-icon>
                        </v-btn>
                      </v-col>
                      <!-- content -->
                      <v-col cols="12" sm="5">
                        <v-img lazy-src="" :src="card.img"></v-img>
                      </v-col>
                      <v-col cols="12" sm="5">
                        <v-list-item>
                          <v-list-item-content>
                            <v-list-item-subtitle
                              v-for="(item,i) in card"
                              :key="item.name"
                              >{{i}}: {{item}}</v-list-item-subtitle
                            >
                          </v-list-item-content>
                        </v-list-item>
                      </v-col>
                      <!-- right arrow -->
                      <v-col cols="6" sm="1" v-if="!dialogArrow">
                        <v-btn
                          icon
                          x-large
                          color="primary"
                          dark
                          @click="changeCard(card,1)"
                        >
                          <v-icon>mdi-arrow-right-drop-circle</v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <!-- card text end -->
                </v-card>
              </v-dialog>
            </template>
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <!-- dialog-card end -->
          </v-container>
        </v-main>
        <!-- main end -->
      </v-app>
    </div>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify({
          theme: {
            themes: {
              light: {
                primary: "#3E2723",
                secondary: "#D7CCC8",
              },
            },
          },
        }),

        data: () => ({
          card: {},
          //header
          webTitle: "Axie Infinity Origin Cards",
          menuList: ["Cards", "Tips"],
          //import data
          headers: in_headers,
          cards: in_cards,
          cardsNum: 0,
          //table
          tableTitle: "Origin Cards",
          search: "",
          searchPlaceHolder: "Name, Cost, Part, Keyword",
          itemsPage: 15,
          noData: "No data available",
          //pop dialog,
          dialogWidth: null,
          dialogHeight: "100%",
          dialog: false,
          //filter
          cardClass: in_cardClass,
          value: in_cardClass,
          selectHeight: null,
          //window
          windowWidth: null,
          tableHover: false,
          dialogArrow: false,
        }),

        watch: {
          windowWidth(value) {
            this.setDialogWidth(value, 800);
            this.setPhoneWindow(value, 603);
          },
        },

        mounted() {
          this.getWindowWidth();
          this.setIndex();
        },

        methods: {
          getWindowWidth() {
            this.windowWidth = window.innerWidth;
            window.onresize = () => {
              this.windowWidth = window.innerWidth;
            };
          },
          setDialogWidth(now, targetWidth) {
            const fixed = 600;
            const per = "75%";
            this.dialogWidth = now <= targetWidth ? fixed : per;
          },
          setPhoneWindow(now, targetWidth) {
            //table
            // this.headers = now <= targetWidth ? [in_headers[0]] : in_headers;
            this.tableHover = now <= targetWidth ? false : true;
            //dialog
            this.dialogArrow = now <= targetWidth ? true : false;
          },
          tableFilter(filArr) {
            // in = import data
            let array = in_cards;
            let filters = {
              class: filArr,
            };
            this.cards = this.multiFilter(array, filters);
            this.setIndex();
          },
          setIndex() {
            // [obj,obj...]
            this.cards = this.cards.map((items, index) => ({
              ...items,
              index: index,
            }));
          },
          changeCard(obj, move) {
            let len = this.cards.length;
            let targetIndex = (obj.index + move + len) % len;
            this.card = this.cards[targetIndex];
          },
          open(item) {
            //open dialog
            this.card = item;
            this.dialog = true;
          },
          multiFilter(array, filters) {
            if (filters.class.length === 0) return [];
            const filterKeys = Object.keys(filters);
            // filters all elements passing the criteria
            return array.filter((item) => {
              // dynamically validate all filter criteria
              return filterKeys.every((key) => {
                //ignore when the filter is empty Anne
                if (!filters[key].length) return true;
                return !!~filters[key].indexOf(item[key]);
              });
            });
          },
        },
      }).$mount("#app");
    </script>
  </body>
</html>
