<!DOCTYPE html>
<html>
  <head>
    <!-- import vuetify-css + font -->
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <!-- https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css -->
    <link href="./css/vuetify.min.css" rel="stylesheet" />
    <!-- own -->
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <link rel="icon" href="./icon-baby.png" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <!-- import vue2 + vuetify.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->
    <script src="./js/vuetify.js"></script>
    <!-- import data -->
    <script src="./js/Aquatic.js"></script>
    <script src="./js/Beast.js"></script>
    <script src="./js/Bird.js"></script>
    <script src="./js/Bug.js"></script>
    <script src="./js/Plant.js"></script>
    <script src="./js/Reptile.js"></script>
    <script src="./js/data.js"></script>
    <div id="app" v-cloak>
      <v-app>
        <!-- header start -->
        <v-app-bar app color="primary" dense dark>
          <!-- <img src="./icon-baby.png" alt=""> -->
          <v-img :src="iconUrl" max-width="20px"></v-img>
          <v-toolbar-title class="ml-2">{{ webTitle }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <a :href="aboutUrl" target="_blank" rel="noopener noreferrer">
            <v-btn icon small>
              <v-icon>mdi-comment-question-outline</v-icon>
            </v-btn>
          </a>
          <v-menu transition="scale-transition">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="item in menuList"
                :key="item.id"
                @click="menuActive(item.id)"
              >
                <v-list-item-title>{{ item.name }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-app-bar>
        <!-- header end -->
        <!-- main start -->
        <v-main class="secondary">
          <v-container>
            <!-- select  start -->
            <v-row>
              <v-col cols="12">
                <v-select
                  v-model="value"
                  :items="cardClass"
                  chips
                  label="Class"
                  :height="selectHeight"
                  deletable-chips
                  small-chips
                  multiple
                  @change="tableFilter(value)"
                  clearable
                >
                  <template #selection="{ item }">
                    <v-chip color="primary" dark>{{ item }}</v-chip>
                  </template>
                </v-select>
              </v-col>
            </v-row>
            <!-- select  end  -->
            <!-- table-card start -->
            <div id="table"></div>
            <v-col>
              <template>
                <v-card>
                  <v-card-title>
                    <v-row>
                      <v-col cols="12" sm="6" class="primary--text">
                        <h4>{{tableTitle}}</h4>
                      </v-col>
                      <v-spacer></v-spacer>
                      <v-col cols="12" sm="4">
                        <v-text-field
                          v-model="search"
                          append-icon="mdi-magnify"
                          single-line
                          hide-details
                          :placeholder="searchPlaceHolder"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-card-title>
                  <v-data-table
                    :headers="headers"
                    :items="cards"
                    :search="search"
                    :items-per-page="itemsPage"
                    :footer-props="{
                    'items-per-page-text':' ',
                  }"
                  >
                    <!-- click name start-->
                    <template v-slot:item.name="{ item }">
                      <v-hover v-slot="{ hover }">
                        <div>
                          <v-edit-dialog @open="open(item)">
                            <pre :class="setClassColor(item.class,'name')">
{{ item.name }}</pre
                            >
                          </v-edit-dialog>
                          <img
                            class="absolute-card-img"
                            v-if="hover && tableHover"
                            :src="item.img"
                          />
                        </div>
                      </v-hover>
                    </template>
                    <template v-slot:item.class="{ item }">
                      <v-col :class="setClassColor(item.class,'class')">
                        {{ item.class }}
                      </v-col>
                    </template>
                    <template v-slot:item.part="{ item }">
                      <span class="d-none"></span>
                    </template>
                    <!-- click name end-->
                    <!-- nodata start -->
                    <template v-slot:no-data>
                      <span class="primary--text">{{noData}}</span>
                    </template>
                    <!-- nodata end -->
                  </v-data-table>
                </v-card>
              </template>
            </v-col>
            <!-- table-card end -->

            <!-- status start -->
            <div id="status"></div>
            <v-col>
              <v-expansion-panels accordion v-model="statusPanel" multiple>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    ><h3 class="primary--text">
                      {{menuList[1].name}}
                    </h3></v-expansion-panel-header
                  >
                  <v-expansion-panel-content>
                    <v-col v-for="(status,objKey) in statuses" :key="objKey">
                      <v-col class="d-flex justify-center align-center"
                        ><h4 class="primary--text">
                          {{ firstCharUpper(objKey) }}
                        </h4></v-col
                      >
                      <!-- status table -->
                      <template>
                        <v-simple-table class="my-2 s-table">
                          <template v-slot:default>
                            <tbody>
                              <tr v-for="(item,index) in status" :key="index">
                                <td>
                                  <v-row class="justify-center align-center">
                                    <v-col cols="3">
                                      <v-img
                                        :src="getStatusIcon(objKey,index)"
                                        min-width="16"
                                        max-width="20"
                                      ></v-img
                                    ></v-col>
                                    <v-col cols="9"
                                      >{{ firstCharUpper(index)}}</v-col
                                    >
                                  </v-row>
                                </td>
                                <td>{{item}}</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </template>
                    </v-col>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
            <!-- status end -->
            <!-- tag start -->
            <div id="tag"></div>
            <v-col>
              <v-expansion-panels accordion v-model="tagPanel" multiple>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    ><h3 class="primary--text">
                      {{menuList[2].name}}
                    </h3></v-expansion-panel-header
                  >
                  <v-expansion-panel-content>
                    <v-col v-for="(tag,objKey) in tags" :key="objKey">
                      <v-col class="d-flex justify-center align-center"
                        ><h4 class="primary--text">
                          {{ firstCharUpper(objKey) }}
                        </h4></v-col
                      >
                      <!-- tag table -->
                      <template>
                        <v-simple-table class="my-2 s-table">
                          <template v-slot:default>
                            <tbody>
                              <tr v-for="(item,index) in tag" :key="index">
                                <td>
                                  <v-row class="justify-center align-center">
                                    <v-col cols="3">
                                      <v-img
                                        :src="getTagIcon(index)"
                                        v-if="objKey===tagCheck"
                                        min-width="10"
                                        max-width="16"
                                      ></v-img
                                    ></v-col>
                                    <v-col cols="9"
                                      >{{firstCharUpper(index)}}</v-col
                                    >
                                  </v-row>
                                </td>
                                <td>{{item}}</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </template>
                    </v-col>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
            <!-- tag end -->

            <!-- dialog-card start -->
            <template>
              <v-dialog
                v-model="dialog"
                :width="dialogWidth"
                persistent
                style="min-width: 360px"
              >
                <v-card :height="dialogHeight" color="secondary">
                  <!-- close X -->
                  <v-col class="d-flex justify-end">
                    <v-btn icon x-large @click="dialog = false">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-col>
                  <!-- card text start -->
                  <v-card-text>
                    <v-row class="flex-card">
                      <!-- left arrow -->
                      <v-col cols="6" sm="1" v-if="!dialogArrow">
                        <v-btn
                          icon
                          x-large
                          color="primary"
                          dark
                          @click="changeCard(card,-1)"
                        >
                          <v-icon>mdi-arrow-left-drop-circle</v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="12" sm="4" class="align-self-start">
                        <v-img :src="card.img" max-width="320px"></v-img>
                        <!-- <div style="width: 360px;">
                          <img :src="card.img" :alt="card.name" style="max-width: 360px;">
                        </div> -->
                      </v-col>
                      <!-- phone arrows -->
                      <v-row v-if="dialogArrow">
                        <v-col cols="2">
                          <v-btn
                            icon
                            color="primary"
                            dark
                            @click="changeCard(card,-1)"
                          >
                            <v-icon>mdi-arrow-left-drop-circle</v-icon>
                          </v-btn>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-col cols="2">
                          <v-btn
                            icon
                            color="primary"
                            dark
                            @click="changeCard(card,1)"
                          >
                            <v-icon>mdi-arrow-right-drop-circle</v-icon>
                          </v-btn>
                        </v-col>
                      </v-row>
                      <!-- phone arrows end -->
                      <v-col cols="12" sm="5" class="align-self-start mr-5">
                        <!-- content start-->
                        <v-row class="flex-column">
                          <v-col>
                            <template>
                              <v-simple-table dense class="mt-10 s-table">
                                <template v-slot:default>
                                  <thead>
                                    <tr></tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Name</td>
                                      <td>{{ card.name }}</td>
                                    </tr>
                                    <tr>
                                      <td>Class</td>
                                      <td>{{ card.class }}</td>
                                    </tr>
                                    <tr>
                                      <td>Part</td>
                                      <td>{{ card.part }}</td>
                                    </tr>
                                    <tr>
                                      <td>Cost</td>
                                      <td>{{ card.cost }}</td>
                                    </tr>
                                    <tr>
                                      <td>Attack</td>
                                      <td>{{ card.attack }}</td>
                                    </tr>
                                    <tr>
                                      <td>Shield</td>
                                      <td>{{ card.shield }}</td>
                                    </tr>
                                    <tr>
                                      <td>Shield</td>
                                      <td>{{ card.shield }}</td>
                                    </tr>
                                    <tr>
                                      <td>Heal</td>
                                      <td>{{ card.heal }}</td>
                                    </tr>
                                    <tr>
                                      <td>CardEffect</td>
                                      <td class="tr-min justify-center">
                                        {{ card.cardEffect }}
                                        <!-- <v-col class="tr-min justify-center " >
                                          {{ card.cardEffect }}
                                        </v-col> -->
                                      </td>
                                    </tr>
                                  </tbody>
                                </template>
                              </v-simple-table>
                            </template>
                          </v-col>
                          <v-spacer></v-spacer>
                          <v-col class="d-flex text-decoration-underline">
                            <h4
                              class="ml-5 primary--text cursor-pointer"
                              v-for="n in 3"
                              @click="setReadCard()"
                            >
                              Banish
                            </h4>
                          </v-col>
                          <v-col>
                            <v-card color="white" class="mt-1 mb-6">
                              <v-card-subtitle
                                >Listen to your favorite artists and albums
                                whenever and wherever, online and offline.Listen
                                to your favorite artists and albums whenever and
                                wherever, online and offline.Listen to your
                                favorite artists and albums whenever and
                                wherever, online and offline.</v-card-subtitle
                              >
                            </v-card>
                          </v-col>
                        </v-row>
                        <!-- content end-->
                      </v-col>
                      <!-- right arrow -->
                      <v-col cols="6" sm="1" v-if="!dialogArrow">
                        <v-btn
                          icon
                          x-large
                          color="primary"
                          dark
                          @click="changeCard(card,1)"
                        >
                          <v-icon v-cloak>mdi-arrow-right-drop-circle</v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <!-- card text end -->
                </v-card>
              </v-dialog>
            </template>
            <!-- dialog-card end -->
            <!-- logo -->
            <v-row>
              <v-col col="12" class="d-flex justify-center">
                <img
                  src="./img/origin.png"
                  alt="axie-origin-logo"
                  class="logo-img-w"
                />
              </v-col>
            </v-row>
          </v-container>

          <!-- scroll to btn -->
          <v-btn
            middle
            bottom
            class="mb-16"
            dark
            color="primary"
            icon
            fixed
            small
            @click="scrollWindow('up')"
            v-show="scrollY > 200"
          >
            <v-icon>mdi-arrow-up-thick</v-icon>
          </v-btn>
          <v-btn
            middle
            bottom
            class="mb-5"
            dark
            color="primary"
            icon
            fixed
            small
            @click="scrollWindow('down')"
          >
            <v-icon>mdi-arrow-down-thick</v-icon>
          </v-btn>
        </v-main>
        <!-- main end -->

        <!-- footer start-->
        <template>
          <v-footer padless>
            <v-col class="text-center" cols="12">
              <h5>
                <a href="mailto:dpes8693@gmail.com">dpes8693@gmail.com</a>
              </h5>
              <h6>{{ new Date().getFullYear() }} {{footerText}}</h6>
            </v-col>
          </v-footer>
        </template>
        <!-- footer end -->
      </v-app>
    </div>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify({
          theme: {
            themes: {
              light: {
                primary: "#3E2723",
                secondary: "#D7CCC8",
                //class
                beast: "#984718",
                bug: "#7D102B",
                bird: "#AF3558",
                plant: "#10C939",
                aquatic: "#26A5BD",
                reptile: "#6A3C96",
                mech: "#565562",
                dawn: "#3E4A7A",
                dusk: "#195089",
              },
            },
          },
        }),

        data: () => ({
          aboutUrl:
            "https://www.notion.so/dpes8693/About-2f4a7a6b65e14691a7e0167e0983b724",
          card: {},
          //
          iconUrl: "./icon-baby.png",
          //header
          webTitle: "Axie Infinity Origin Cards",
          menuList: [
            { name: "Origin Cards", id: "table" },
            { name: "Axie Status", id: "status" },
            { name: "Card Tag", id: "tag" },
          ],
          //import data
          headers: in_headers,
          cards: in_cards,
          cardsNum: 0,
          //table
          tableTitle: "Origin Cards",
          search: "",
          searchPlaceHolder: "Name, Cost, Part, Keyword",
          itemsPage: 15,
          noData: "No data available",
          //pop dialog,
          dialogWidth: null,
          dialogHeight: "100%",
          dialog: false,
          //filter
          cardClass: in_cardClass,
          value: in_cardClass,
          selectHeight: null,
          //tag
          tagPanel: [0],
          tags: in_tags,
          tagCheck: "onTag",
          //status
          statusPanel: [0],
          statuses: in_statuses,
          //window
          windowWidth: null,
          tableHover: false,
          dialogArrow: false,
          scTimer: 0,
          scrollY: 0,
          //footer
          footerText:
            "| All images are the property of Sky Mavis. They are displayed for broadcast and entertainment purposes only. |",
        }),

        watch: {
          windowWidth(value) {
            this.setDialogWidth(value, 800);
            this.setPhoneWindow(value, 603);
          },
        },
        mounted() {
          this.getWindowWidth();
          this.setIndex();
          window.addEventListener("scroll", this.handleScroll);
        },

        computed: {},

        methods: {
          //window
          getWindowWidth() {
            this.windowWidth = window.innerWidth;
            window.onresize = () => {
              this.windowWidth = window.innerWidth;
            };
          },
          setDialogWidth(now, targetWidth) {
            const fixed = 600;
            const per = "75%";
            this.dialogWidth = now <= targetWidth ? fixed : per;
          },
          setPhoneWindow(now, targetWidth) {
            //table
            // this.headers = now <= targetWidth ? [in_headers[0]] : in_headers;
            this.tableHover = now <= targetWidth ? false : true;
            //dialog
            this.dialogArrow = now <= targetWidth ? true : false;
          },
          handleScroll() {
            //Debounce & Throttle
            if (this.scTimer) return;
            this.scTimer = setTimeout(() => {
              this.scrollY = window.scrollY;
              clearTimeout(this.scTimer);
              this.scTimer = 0;
            }, 250);
          },
          scrollWindow(mode) {
            let obj = { top: 0, left: 0, behavior: "smooth" };
            let windowHeight = document.body.scrollHeight; //全部高
            obj.top = mode === "down" ? windowHeight : 0;
            window.scrollTo(obj);
          },
          menuActive(id) {
            this.$nextTick(() => {
              this.jump(id);
            });
          },
          jump(id) {
            let top = document.getElementById(id).offsetTop;
            window.scrollTo(0, top);
          },
          //content
          firstCharUpper(v) {
            let str = v[0].toUpperCase() + v.slice(1);
            return str;
          },
          getTagIcon(name) {
            return `./img/en/tag/i-${name}.png`;
          },
          getStatusIcon(t, name) {
            return `./img/en/status/${t}-${name}.png`;
          },
          setReadCard() {
            console.log(123);
          },
          tableFilter(filArr) {
            // in = import data
            let array = in_cards;
            let filters = {
              class: filArr,
            };
            this.cards = this.multiFilter(array, filters);
            this.setIndex();
          },
          setIndex() {
            // [obj,obj...]
            this.cards = this.cards.map((items, index) => ({
              ...items,
              index: index,
            }));
          },
          changeCard(obj, move) {
            let len = this.cards.length;
            let targetIndex = (obj.index + move + len) % len;
            this.card = this.cards[targetIndex];
          },
          open(item) {
            //open dialog
            this.card = item;
            this.dialog = true;
            // console.log(window.scrollY)
          },
          setClassColor(item, mode) {
            if (mode === "class") return `${item.toLowerCase()}--text`;
            if (mode === "name")
              return `text-decoration-underline  font-weight-bold ${item.toLowerCase()}--text`;
            return primary;
          },

          multiFilter(array, filters) {
            if (filters.class.length === 0) return [];
            const filterKeys = Object.keys(filters);
            // filters all elements passing the criteria
            return array.filter((item) => {
              // dynamically validate all filter criteria
              return filterKeys.every((key) => {
                //ignore when the filter is empty Anne
                if (!filters[key].length) return true;
                return !!~filters[key].indexOf(item[key]);
              });
            });
          },
        },
      }).$mount("#app");
    </script>
  </body>
</html>
