<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>Axie Infinity Origin Cards</title>
    <meta name="description" content="axie origin cards list" />
    <meta itemprop="name" content="Axie Infinity Origin Cards | dpes8693" />
    <meta itemprop="description" content="axie origin cards list" />
    <meta
      itemprop="image"
      content="https://dpes8693.github.io/card-template-generator/img/origin.png"
    />
    <meta property="og:title" content="Axie Infinity Origin Cards | dpes8693" />
    <meta property="og:description" content="axie origin cards list" />
    <meta
      property="og:image"
      content="https://dpes8693.github.io/card-template-generator/img/origin.png"
    />
    <meta property="og:site_name" content="Axie Infinity Origin Cards" />
    <meta property="og:type" content="article" />
    <!-- import vuetify-css + font -->
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    /> -->
    <link
      as="style"
      rel="stylesheet preload prefetch"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      type="text/css"
      crossorigin="anonymous"
    />
    <!-- https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css -->
    <link href="./css/vuetify.min.css" rel="stylesheet" />
    <!-- own -->
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <link rel="icon" href="./icon-baby.png" type="image/x-icon" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <!-- import vue2 + vuetify.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->
    <script src="./js/vuetify.js"></script>
    <!-- import data -->
    <script src="./js/Aquatic.js"></script>
    <script src="./js/Beast.js"></script>
    <script src="./js/Bird.js"></script>
    <script src="./js/Bug.js"></script>
    <script src="./js/Plant.js"></script>
    <script src="./js/Reptile.js"></script>
    <script src="./js/AdditionCard.js"></script>
    <script src="./js/data.js"></script>
    <div id="app" v-cloak>
      <v-app>
        <!-- header start -->
        <v-app-bar app color="primary" dense dark>
          <!-- <img src="./icon-baby.png" alt=""> -->
          <v-img :src="iconUrl" max-width="20px"></v-img>
          <v-toolbar-title class="ml-2"
            >Axie Infinity Origin Cards</v-toolbar-title
          >
          <p v-if="false">
            this website suply people to easly sort (filter) Axie Origin Cards
          </p>
          <v-spacer></v-spacer>
          <a :href="aboutUrl" target="_blank" rel="noopener noreferrer">
            <v-btn icon small dark>
              <v-icon>mdi-comment-question-outline</v-icon>
            </v-btn>
          </a>
          <v-menu transition="scale-transition">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="item in menuList"
                :key="item.id"
                @click="jump(item.id)"
              >
                <v-list-item-title>{{ item.name }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-app-bar>
        <!-- header end -->
        <!-- main start -->
        <v-main class="secondary">
          <v-container>
            <!-- select  start -->
            <v-row>
              <v-col cols="10" sm="10">
                <v-select
                  v-model="value"
                  :items="cardClass"
                  chips
                  label="Class"
                  :height="selectHeight"
                  deletable-chips
                  small-chips
                  multiple
                  @change="tableFilter(value)"
                  clearable
                >
                  <template #selection="{ item }">
                    <v-chip color="primary" dark>{{ item }}</v-chip>
                  </template>
                </v-select>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="2" sm="1" class="align-center d-flex">
                <a :href="updateUrl" target="_blank" rel="noopener noreferrer">
                  <v-btn icon large>
                    <v-icon>mdi-new-box</v-icon>
                  </v-btn>
                </a>
              </v-col>
            </v-row>
            <!-- select  end  -->
            <!-- table-card start -->
            <div id="table"></div>
            <v-col>
              <template>
                <v-card>
                  <v-card-title>
                    <v-row>
                      <v-col cols="12" sm="6" class="primary--text">
                        <h4>{{tableTitle}}</h4>
                      </v-col>
                      <v-spacer></v-spacer>
                      <v-col cols="12" sm="4">
                        <v-text-field
                          v-model="search"
                          append-icon="mdi-magnify"
                          clearable
                          single-line
                          hide-details
                          :placeholder="searchPlaceHolder"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-card-title>
                  <v-data-table
                    :headers="headers"
                    :items="cards"
                    :search="search"
                    :items-per-page="itemsPage"
                    @current-items="setCurrentItems"
                    :footer-props="{
                    'items-per-page-text':' ',
                  }"
                  >
                    <!-- click name start-->
                    <template v-slot:item.name="{ item }">
                      <v-hover v-slot="{ hover }">
                        <div>
                          <v-edit-dialog @open="open(item)">
                            <pre :class="setClassColor(item.class,'name')">
{{ item.name }}</pre
                            >
                          </v-edit-dialog>
                          <img
                            class="absolute-card-img"
                            v-show="hover && tableHover"
                            :src="item.img"
                          />
                        </div>
                      </v-hover>
                    </template>
                    <template v-slot:item.class="{ item }">
                      <v-col :class="setClassColor(item.class,'class')">
                        {{ item.class }}
                      </v-col>
                    </template>
                    <template v-slot:item.tag="{ item }">
                      <span class="hideClass"></span>
                    </template>
                    <template v-slot:item.part="{ item }">
                      <span class="hideClass"></span>
                    </template>
                    <!-- click name end-->
                    <template v-slot:no-data>
                      <span class="primary--text">{{noData}}</span>
                    </template>
                  </v-data-table>
                </v-card>
              </template>
            </v-col>
            <!-- table-card end -->

            <!-- status start -->
            <div id="status"></div>
            <v-col>
              <v-expansion-panels accordion v-model="statusPanel" multiple flat>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    ><h3 class="primary--text">
                      {{menuList[1].name}}
                    </h3></v-expansion-panel-header
                  >
                  <v-expansion-panel-content>
                    <v-col v-for="(status,objKey) in statuses" :key="objKey">
                      <v-col class="d-flex justify-center align-center"
                        ><h4 class="primary--text">
                          {{ firstCharUpper(objKey) }}
                        </h4></v-col
                      >
                      <!-- status table -->
                      <template>
                        <v-simple-table class="my-2 s-table">
                          <template v-slot:default>
                            <tbody>
                              <tr v-for="(item,index) in status" :key="index">
                                <td>
                                  <v-row class="justify-center align-center">
                                    <v-col cols="12" sm="3">
                                      <v-img
                                        :src="getStatusIcon(objKey,index)"
                                        min-width="16"
                                        max-width="20"
                                      ></v-img
                                    ></v-col>
                                    <v-col cols="12" sm="9"
                                      >{{ firstCharUpper(index)}}</v-col
                                    >
                                  </v-row>
                                </td>
                                <td>{{item}}</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </template>
                    </v-col>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
            <!-- status end -->
            <!-- tag start -->
            <div id="tag"></div>
            <v-col>
              <v-expansion-panels accordion v-model="tagPanel" multiple flat>
                <v-expansion-panel>
                  <v-expansion-panel-header
                    ><h3 class="primary--text">
                      {{menuList[2].name}}
                    </h3></v-expansion-panel-header
                  >
                  <v-expansion-panel-content>
                    <v-col v-for="(tag,objKey) in tags" :key="objKey">
                      <v-col class="d-flex justify-center align-center"
                        ><h4 class="primary--text">
                          {{ firstCharUpper(objKey) }}
                        </h4></v-col
                      >
                      <!-- tag table -->
                      <template>
                        <v-simple-table class="my-2 s-table">
                          <template v-slot:default>
                            <tbody>
                              <tr v-for="(item,index) in tag" :key="index">
                                <td>
                                  <v-row class="justify-center align-center">
                                    <v-col cols="3">
                                      <v-img
                                        :src="getTagIcon(index)"
                                        v-show="objKey===tagCheck"
                                        min-width="10"
                                        max-width="16"
                                      ></v-img
                                    ></v-col>
                                    <v-col cols="9"
                                      >{{firstCharUpper(index)}}</v-col
                                    >
                                  </v-row>
                                </td>
                                <td>{{item}}</td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </template>
                    </v-col>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
            <!-- tag end -->
            <!-- dialog-card start -->
            <template>
              <v-dialog
                v-model="dialog"
                :width="dialogWidth"
                style="min-width: 360px"
              >
                <v-card :height="dialogHeight" color="secondary">
                  <!-- close X -->
                  <v-col class="d-flex justify-end">
                    <v-btn icon x-large @click="dialog = false">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-col>
                  <!-- card text start -->
                  <v-card-text>
                    <v-row class="flex-card">
                      <v-col cols="6" sm="1" v-if="!dialogArrow">
                        <v-btn
                          icon
                          x-large
                          color="primary"
                          dark
                          @click="changeCard(card,-1)"
                        >
                          <v-icon>mdi-arrow-left-drop-circle</v-icon>
                        </v-btn>
                      </v-col>
                      <v-col cols="12" sm="4" class="align-self-start">
                        <v-img :src="card.img" max-width="320px"></v-img>
                      </v-col>
                      <!-- phone arrows -->
                      <v-row v-if="dialogArrow">
                        <v-col cols="2">
                          <v-btn
                            icon
                            color="primary"
                            dark
                            @click="changeCard(card,-1)"
                          >
                            <v-icon>mdi-arrow-left-drop-circle</v-icon>
                          </v-btn>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-col cols="2">
                          <v-btn
                            icon
                            color="primary"
                            dark
                            @click="changeCard(card,1)"
                          >
                            <v-icon>mdi-arrow-right-drop-circle</v-icon>
                          </v-btn>
                        </v-col>
                      </v-row>
                      <!-- dialog-content start-->
                      <v-col cols="12" sm="5" class="align-self-start mr-5">
                        <v-row class="flex-column min-h-c">
                          <v-col>
                            <template>
                              <v-simple-table dense class="mt-10 s-table">
                                <template v-slot:default>
                                  <thead>
                                    <tr></tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Name</td>
                                      <td>{{ card.name }}</td>
                                    </tr>
                                    <tr>
                                      <td>Class</td>
                                      <td>{{ card.class }}</td>
                                    </tr>
                                    <tr>
                                      <td>Part</td>
                                      <td>{{ card.part }}</td>
                                    </tr>
                                    <tr>
                                      <td>Tag</td>
                                      <td>{{ card.tag }}</td>
                                    </tr>
                                    <tr>
                                      <td>Cost</td>
                                      <td>{{ card.cost }}</td>
                                    </tr>
                                    <tr>
                                      <td>Attack</td>
                                      <td>{{ card.attack }}</td>
                                    </tr>
                                    <tr>
                                      <td>Shield</td>
                                      <td>{{ card.shield }}</td>
                                    </tr>
                                    <tr>
                                      <td>Shield</td>
                                      <td>{{ card.shield }}</td>
                                    </tr>
                                    <tr>
                                      <td>Heal</td>
                                      <td>{{ card.heal }}</td>
                                    </tr>
                                    <tr>
                                      <td>CardEffect</td>
                                      <td class="tr-min justify-center">
                                        {{ card.cardEffect }}
                                      </td>
                                    </tr>
                                  </tbody>
                                </template>
                              </v-simple-table>
                            </template>
                          </v-col>
                          <v-col class="d-flex">
                            <h4
                              class="ml-5 primary--text cursor-pointer text-decoration-underline"
                              @click="setRelatedCard(item,1)"
                              v-for="(item,i) in relatedWordArr"
                              :key="i"
                            >
                              {{item}}
                            </h4>
                          </v-col>
                          <v-col>
                            <v-card
                              color="white"
                              class="mt-1 mb-6"
                              v-show="wordDesc.des"
                            >
                              <v-row class="justify-center align-center">
                                <v-col cols="10">{{ wordDesc.des}}</v-col>
                              </v-row>
                            </v-card>
                            <v-col cols="6" v-show="cardFlag">
                              <!-- <v-img
                                :src="wordDesc.img"
                                max-width="200"
                              ></v-img -->
                              <img
                                :src="wordDesc.img"
                                alt="img"
                                class="max-w"
                              />
                            </v-col>
                          </v-col>
                          <br /><br /><br /><br />
                        </v-row>
                        <!-- dialog-content end-->
                      </v-col>
                      <v-col cols="6" sm="1" v-if="!dialogArrow">
                        <v-btn
                          icon
                          x-large
                          color="primary"
                          dark
                          @click="changeCard(card,1)"
                        >
                          <v-icon v-cloak>mdi-arrow-right-drop-circle</v-icon>
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <!-- card text end -->
                </v-card>
              </v-dialog>
            </template>
            <!-- dialog-card end -->
            <!-- logo -->
            <v-row>
              <v-col col="12" class="d-flex justify-center">
                <img
                  src="./img/origin.png"
                  alt="axie-origin-logo"
                  class="logo-img-w"
                />
              </v-col>
            </v-row>
          </v-container>

          <!-- scroll to btn -->
          <v-btn
            middle
            bottom
            class="mb-16"
            dark
            color="primary"
            icon
            fixed
            small
            @click="scrollWindow('up')"
            v-show="scrollY > 200"
          >
            <v-icon>mdi-arrow-up-thick</v-icon>
          </v-btn>
          <v-btn
            middle
            bottom
            class="mb-5"
            dark
            color="primary"
            icon
            fixed
            small
            @click="scrollWindow('down')"
          >
            <v-icon>mdi-arrow-down-thick</v-icon>
          </v-btn>
        </v-main>
        <!-- main end -->
        <template>
          <v-footer padless>
            <v-col class="text-center" cols="12">
              <h5>
                <a href="mailto:dpes8693@gmail.com">dpes8693@gmail.com</a>
              </h5>
              <h6>{{ new Date().getFullYear() }} {{footerText}}</h6>
            </v-col>
          </v-footer>
        </template>
      </v-app>
    </div>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify({
          theme: {
            themes: {
              light: {
                primary: "#3E2723",
                secondary: "#D7CCC8",
                //class
                beast: "#984718",
                bug: "#7D102B",
                bird: "#AF3558",
                plant: "#10C939",
                aquatic: "#26A5BD",
                reptile: "#6A3C96",
                mech: "#565562",
                dawn: "#3E4A7A",
                dusk: "#195089",
              },
            },
          },
        }),

        data: () => ({
          updateUrl:
            "https://docs.google.com/spreadsheets/d/1cV8sQ0vztJJKbcn51hjpQBsWfB39S0UqTO8BZtQdCgg/edit#gid=581346017",
          aboutUrl:
            "https://www.notion.so/dpes8693/About-2f4a7a6b65e14691a7e0167e0983b724",
          card: {},
          //
          iconUrl: "./icon-baby.png",
          //header
          webTitle: "Axie Infinity Origin Cards",
          menuList: [
            { name: "Origin Cards", id: "table" },
            { name: "Axie Status", id: "status" },
            { name: "Card Tag", id: "tag" },
          ],
          //import data
          headers: in_headers,
          cards: in_cards,
          cardClass: in_cardClass,
          value: in_cardClass,
          related: in_related,
          additionCard: in_additionCard,
          additionCard2: in_additionCard2,
          summon: in_summon,
          cardsNum: 0,
          //table
          tableTitle: "Origin Cards",
          search: "",
          searchPlaceHolder: "Name, Part, Tag, Status, Keyword",
          itemsPage: 10,
          noData: "No data available",
          hideClass: "d-none",
          //pop dialog,
          dialogWidth: null,
          dialogHeight: "100%",
          dialog: false,
          relatedWordArr: [],
          wordDesc: {},
          cardFlag: false,
          //filter
          selectHeight: null,
          //tag
          tagPanel: [0],
          tags: in_tags,
          tagCheck: "onTag",
          //status
          statusPanel: [0],
          statuses: in_statuses,
          //window
          windowWidth: null,
          tableHover: false,
          dialogArrow: false,
          scTimer: 0,
          scrollY: 0,
          //footer
          footerText:
            "| All images are the property of Sky Mavis. They are displayed for broadcast and entertainment purposes only. |",
        }),

        watch: {
          windowWidth(value) {
            this.setDialogWidth(value, 800);
            this.setPhoneWindow(value, 603);
          },
          dialog(v) {
            if (v === false) {
              this.resetCard();
            }
          },
          search(val) {
            this.debounce(this.setItemsPage(val));
          },
        },
        mounted() {
          this.getWindowWidth();
          this.setIndex();
          window.addEventListener("scroll", this.handleScroll);
          console.clear();
        },

        methods: {
          //public
          jump(id) {
            let top = document.getElementById(id).offsetTop;
            window.scrollTo(0, top);
          },
          firstCharUpper(v) {
            let str = v[0].toUpperCase() + v.slice(1);
            return str;
          },
          debounce(func, delay = 250) {
            let timer = null;
            return () => {
              let context = this;
              let args = arguments;

              clearTimeout(timer);
              timer = setTimeout(() => {
                func.apply(context, args);
              }, delay);
            };
          },
          multiFilter(array, filters) {
            if (filters.class.length === 0) return [];
            const filterKeys = Object.keys(filters);
            // filters all elements passing the criteria
            return array.filter((item) => {
              // dynamically validate all filter criteria
              return filterKeys.every((key) => {
                //ignore when the filter is empty Anne
                if (!filters[key].length) return true;
                return !!~filters[key].indexOf(item[key]);
              });
            });
          },
          //Viewer
          setClassColor(item, mode) {
            if (mode === "class") return `${item.toLowerCase()}--text`;
            if (mode === "name")
              return `text-decoration-underline  font-weight-bold ${item.toLowerCase()}--text`;
            return primary;
          },
          getTagIcon(name) {
            return `./img/en/tag/i-${name}.png`;
          },
          getStatusIcon(t, name) {
            return `./img/en/status/${t}-${name}.png`;
          },
          //table
          setCurrentItems(v) {
            //search->watch->setCurrentItems()
            this.currentItems = JSON.parse(JSON.stringify(v));
          },
          setHeader(mode) {
            this.headers = mode === "phone" ? in_headersPhone : in_headers;
          },
          setItemsPage(val) {
            let temp = this.itemsPage;
            this.itemsPage = !!val ? -1 : temp;
          },
          //window
          getWindowWidth() {
            this.windowWidth = window.innerWidth;
            window.onresize = () => {
              this.windowWidth = window.innerWidth;
            };
          },
          setDialogWidth(now, targetWidth) {
            const fixed = 600;
            const per = "75%";
            this.dialogWidth = now <= targetWidth ? fixed : per;
          },
          setPhoneWindow(now, targetWidth) {
            //data table header
            let mode = now <= targetWidth ? "phone" : "pc";
            this.setHeader(mode);
            //table
            this.tableHover = now <= targetWidth ? false : true;
            //dialog
            this.dialogArrow = now <= targetWidth ? true : false;
          },
          handleScroll() {
            //Debounce & Throttle
            if (this.scTimer) return;
            this.scTimer = setTimeout(() => {
              this.scrollY = window.scrollY;
              clearTimeout(this.scTimer);
              this.scTimer = 0;
            }, 250);
          },
          scrollWindow(mode) {
            let obj = { top: 0, left: 0, behavior: "smooth" };
            let windowHeight = document.body.scrollHeight;
            obj.top = mode === "down" ? windowHeight : 0;
            window.scrollTo(obj);
          },
          //Cards filter
          setIndex() {
            this.cards = this.cards.map((items, index) => ({
              ...items,
              index: index,
            }));
          },
          tableFilter(filArr) {
            let array = in_cards;
            let filters = {
              class: filArr,
            };
            this.cards = this.multiFilter(array, filters);
            this.setIndex();
          },
          changeCard(obj, move) {
            let cardsLen = this.cards.length;
            let currLen = this.currentItems.length;
            let targetIndex = -1;
            if (!this.search) {
              targetIndex = (obj.index + move + cardsLen) % cardsLen;
              this.setCard(this.cards[targetIndex]);
            } else {
              let index = -1;
              for (let i = 0; i < currLen; i++) {
                let el = this.currentItems[i];
                if (el.name === obj.name) {
                  index = i;
                  break;
                }
              }
              targetIndex = (index + move + currLen) % currLen;
              let targetObj = this.currentItems[targetIndex];
              this.setCard(targetObj);
            }
            this.searchCardEffect();
            this.setRelatedCard(this.card.name);
          },
          setCard(obj) {
            this.card = obj;
          },
          //dialog
          getFlatObj() {
            return {
              ...in_statuses.buff,
              ...in_statuses.debuff,
              ...in_statuses.neutral,
              ...in_tags.onTag,
              ...in_tags.unTag,
            };
          },
          resetCard() {
            this.wordDesc = { des: "" };
            this.cardFlag = false;
          },
          setRelatedCard(word, click) {
            this.resetCard();
            let str = word[0].toLowerCase() + word.replaceAll(" ", "").slice(1);
            let card = {
              title: "",
              img: "",
              des: "",
            };
            let obj = this.getFlatObj();
            let tagStatusflag = Object.keys(obj).includes(str);
            if (tagStatusflag) {
              card.des = obj[str];
              this.wordDesc = JSON.parse(JSON.stringify(card));
              return;
            }
            //bad
            let checker = this.checkAdditionCard(this.additionCard, word);
            if (checker && click) {
              this.setAddCard(card, checker);
              return;
            }
            checker = this.checkAdditionCard(this.additionCard2, word);
            if (checker && click) {
              this.setAddCard(card, checker);
              return;
            }
            checker = this.checkAdditionCard(this.summon, word);
            if (checker && click) {
              card.des = checker.des;
              this.setAddCard(card, checker);
              return;
            }
          },
          setAddCard(card, checker) {
            card.img = checker.img;
            this.cardFlag = true;
            this.wordDesc = JSON.parse(JSON.stringify(card));
          },
          checkAdditionCard(array, word) {
            return array.find(function (item, index, array) {
              return item.name === word; // 取得陣列 like === '蘿蔔泥'
            });
          },
          closeRelatedCard() {
            this.cardFlag = false;
          },
          searchCardEffect() {
            this.relatedWordArr = [];
            this.related.forEach((el) => {
              let flag = this.card.cardEffect.includes(el);
              if (flag) {
                this.relatedWordArr.push(el);
              }
            });
          },
          open(item) {
            //open dialog set card
            this.setCard(item);
            this.dialog = true;
            this.searchCardEffect();
          },
        },
      }).$mount("#app");
    </script>
  </body>
</html>
